body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#board {
    margin-top: 70px;
    /*background-color: skyblue */
    background-image: url("./Assets/Images/flappy-background.png");
}